@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  font-size: 16px;
  /* color: #ffffff; */
  background: #000000;
  overflow-x: hidden;
  text-transform: lowercase;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

h1 a {
  color: #000000;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: none;
  display: inline-block;
  height: 50px;
  margin-left: 35px;
  padding: 10px 2px 6px 2px;
  border-width: 0;
}

h1 a:hover {
  opacity: 0.5;
  transition: all 400ms ease-in;
}

nav {
  margin-left: 35px;
}

nav ul {
  padding-inline-start: 20px;
}

nav ul li {
  list-style: none;
  font-size: 1.1em;
  height: auto;
  width: max-content;
  line-height: 2.25;
  /* margin: 5px 0; */
  cursor: pointer;
}

/* Specific Functions */
.about:active,
.about:focus {
  opacity: 1;
}

/* Fun Functions */
.highlight {
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 112%;
  transition: all 200ms ease-in-out;
}

.highlight:hover {
  background-size: 100% 88%;
}

.hide {
  /* color: #000000; */
  opacity: 0.3;
  transition: all 400ms ease-in-out;
}

.show {
  /* color: #ffffff; */
  opacity: 1;
  transition: all 400ms ease-in-out;
}

.slideIn {
  max-height: max-content;
  transition: all 600ms ease-out;
}

.slideOut {
  max-height: 0;
  transform: translateX(-100vw);
  transition: all 400ms ease-out;
}
